In [266]:
變數一=1

In [267]:
變數二=變數一

In [268]:
變數一,變數二

(1, 1)

In [269]:
a=b=c=20

In [270]:
a, b, c

(20, 20, 20)

In [271]:
age, name = 36, "Pei-Yu"

In [272]:
print("age, name")

age, name

In [273]:
A = B = C = 50

In [274]:
a, b, c, A, B, C

(20, 20, 20, 50, 50, 50)

In [275]:
早餐 = 100

In [276]:
午餐 = 200

In [277]:
餐費 = 早餐 + 午餐

In [278]:
print(餐費)

300

In [279]:
三天餐費 = 餐費*3

In [280]:
print(三天餐費)

900

In [281]:
早餐 = 50

In [282]:
餐費 = 早餐 + 午餐

In [283]:
print(餐費)

250

In [284]:
d = 2
e = 3
f = 4

In [285]:
d

2

In [286]:
e

3

In [287]:
f

4

In [288]:
Wed = 33
Thur = 32
Fri = 33
Sat = 33

In [289]:
均溫 = (Wed + Thur + Fri + Sat)/4

In [290]:
print(均溫)

32.75

In [291]:
print(Wed, Thur, Fri, Sat)

33 32 33 33

In [292]:
print((Wed + Thur + Fri + Sat)/4)

32.75

In [293]:
aday = 300
aweek = aday*7
月花費 = aweek*4

In [294]:
print(月花費)

8400