In [1]:
c = range(3, 8, 1)

In [2]:
c

range(3, 8)

In [3]:
d = range(3,8,2)

In [4]:
d

range(3, 8, 2)

In [5]:
e = range(8, 3, -1)

In [6]:
e

range(8, 3, -1)

In [7]:
print(c, d, e)

range(3, 8) range(3, 8, 2) range(8, 3, -1)

In [8]:
print(list(c))

[3, 4, 5, 6, 7]

In [9]:
print(list(d))

[3, 5, 7]

In [10]:
print(list(e))

[8, 7, 6, 5, 4]

In [11]:
c1 = list(c)

In [12]:
print(c1)

[3, 4, 5, 6, 7]

In [13]:
print(type(c))

<class 'range'>

In [14]:
print(type(c1))

<class 'list'>

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [18]:
a = range(0, 9, 1)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
a = range(0, 9, 1)
print(list(a))
b = range(1, 9, 1)
print(list(b))
c = range(1, 10, 2)
print(list(c))
d = range(10, 1, -2)
print(list(d))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [17]:
for n in range(9):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,

In [23]:
n = int(input("請輸入一個正整數"))
a = range(1, n+1, 1)
print(list(a))

[1, 2, 3, 4, 5]

In [26]:
sum = 0
for n in range(3):
    sum = sum + n
print(sum)

3

In [32]:
sum = 0
for n in range(11):
    sum = sum + n
print(sum)

55

In [33]:
sum = 0
n = int(input("請輸入一個正整數"))
for a in range(n+1):
    sum = sum + a
print(sum)

55

In [39]:
sum = 0
for n in range(1, 101, 2):
    sum = sum + n
print(sum)

2500

In [42]:
for n in range(10, 0, -1):
    print(n)
print("倒數結束!")

10
9
8
7
6
5
4
3
2
1
倒數結束!

In [44]:
for n in range(1, 11, 1):
    print(n**2)

1
4
9
16
25
36
49
64
81
100

In [45]:
for n in range(3, 30, 4):
    print(n)

3
7
11
15
19
23
27

In [46]:
for n in range(10, 51, 1):
    if n > 25:
        print(n)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50